:root {
    /* Variabler */
    --clr-primary: #ff503f;
    --clr-secondary: #0e1e31;
    --clr-primary-hover: #932432;
    --clr-background-nav: #e7e7e7;
    --clr-background-seperation: lightblue;
    --border-radius: 0.2rem;
    --border-color: black;
    --seperating-background-clr: #feead2;
    /*  ----------------------- Font ---------------------*/
    --font-size-p: 1rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --line-height: 1.7em;
    --font-color-main: black;
    --font-color-secondary: #8f3a60;
    --font-hover: pink;
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 3px 0px 6px rgba(0, 0, 0, 0.23);
}


/*How to use var color: 
background: var(--clr-primary);
*/

html,
body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
    float: none;
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--clr-primary);
}

h2 {
    font-size: var(--font-size-h1);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.75rem;
    padding-top: 2%;
}


/*  =================Container for max width================
Easier to overwrite than body. Needs overflow-x: hidden; in html,body */

.center-container {
    max-width: 1440px;
    text-align: left;
    margin: 0px auto;
    display: flex;
    width: auto;
    align-items: center;
}

#oversikt {
    width: 20%;
    border: solid green;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    width: 80%;
    height: 100vh;
    border: solid red;
}

#oversikt li {
    list-style: none;
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

#oversikt a {
    font-size: var(--font-size-h4);
    margin-top: 1em;
}