:root {
    --clr-primary: #bb5a5a;
    --clr-secondary: #e79e85;
    --clr-primary-hover: #ff6584;
    --clr-body: white;
    --clr-background-nav: antiquewhite;
    --clr-background-button: #2f455d;
    --border-radius: 0.5rem;
    --max-width: 1440px;
    /*================================================Font======================================= */
    --font-size-p: 1.25rem;
    --font-size-h1: 2.5rem;
    --font-size-h1-small: 2rem;
    --font-size-h2: 2rem;
    --font-word-spacing: ;
    --font-line-height: 1.5;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-color: #2f455d;
    --font-color-tittle: #ff6584;
    /*=================================nav ====================== */
    --nav-height: 5em;
    --clr-nav: #2f455d;
    --background-color-hero: antiquewhite;
}


/* ============================================================================================*/


/*How to use var color: 
background: var(--clr-primary);*/


/* ============================================================================================*/

body {
    font-family: "Lexend Deca", sans-serif;
    line-height: var(--font-line-height);
    color: var(--font-color);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-p);
}


/*  =================Container for max width================

Easier to overwrite than body. Needs overflow-x: hidden; in html,body */


/*========================================================================================== 
=================================NAVIGATION BAR=============================================
========================================================================================== */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-height);
    background-color: var(--clr-background-nav);
    border: solid red;
}


/*
#nav-img img {
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid green;
}
*/

#nav-options {
    max-width: 1200px;
}

#nav-options li {
    text-align: right;
    list-style-type: none;
}

#nav-options a {
    text-decoration: none;
    font-size: var(--font-size-h4);
    padding: 0 30px 0 30px;
    color: var(--clr-nav);
    transition: 0.3s;
}

#nav-options a:hover {
    color: var(--clr-primary-hover);
}


/*========================================================================================== 
=================================Hero=============================================
========================================================================================== */

#hero-backgroundcolor {
    background-color: var(--background-color-hero);
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    border: solid red;
    width: var(--max-width);
}

#hero img {
    width: 100%;
}

#hero-txt a {
    color: var(--clr-primary-hover);
}

#hero-text-box {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: 20px;
    width: 500px;
    border: solid green;
}

#hero-txt h1 {
    font-size: 2.5rem;
}

#hero-buttons {
    width: 500px;
    display: flex;
    justify-content: left;
}

.hero-button {
    width: 120px;
    height: 50px;
    display: flex;
    border-radius: 2.5px;
}

.hero-button:last-child {
    margin: 0 0 0 40px;
}

.hero-button a {
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 15px 10px 15px 10px;
    color: #2f455d;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    border: solid #2f455d;
    border-radius: 2.5px;
    text-decoration: none;
}

.hero-button:last-of-type {
    background-color: var(--clr-background-button);
    border: none;
}

.hero-button a:hover {
    opacity: 70%;
}

.hero-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    max-height: 200px;
    opacity: 0.9;
}


/*========================================================================================== 
=================================Seperation=============================================
========================================================================================== */

.seperation-background {
    background-color: var(--clr-background-button);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    text-shadow: 3px 3px 3px black;
    height: 300px;
    padding: 0 1% 0 1%;
}

.seperation-background {
    background-image: url("img/coffee.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seperation-txt-box {
    max-width: var(--max-width);
    border: solid red;
}

.seperation-txt-box h1 {
    font-size: var(--font-size-h1);
}

.seperation-txt-box p {
    font-size: var(--font-size-p);
}

.seperation-txt-box a {
    text-decoration: none;
    color: white;
}

.seperation-txt-box a:hover {
    color: var(--clr-primary-hover);
}


/*========================================================================================== 
=================================Section 1=============================================
========================================================================================== */

.section1-section {
    display: flex;
    border: solid red;
    flex-direction: column;
}

#section1-heading {
    margin: 50px 0 50px 0;
    justify-content: center;
}

.vision-impaired-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 100%;
    width: 300px;
    min-height: 300px;
}

.section1-first-paragraph {
    max-width: var(--max-width);
    border: solid red;
    display: flex;
    align-items: center;
    height: 100%;
    /*
    margin: 200px 200px 200px 20px;
    */
    margin: 100px 0 50px 0;
}

.section1-first-paragraph img {
    margin-right: 20px;
}

.section1-second-paragraph {
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    height: 100%;
    border: solid red;
}

.section1-second-paragraph img {
    margin-left: 20px;
}


/*========================================================================================== 
=================================Section 2=============================================
========================================================================================== */

.seperation-background-2 {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    text-shadow: 3px 3px 3px black;
    height: 200px;
    padding: 0 1% 0 1%;
    background-color: var(--clr-background-button);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seperation-txt-box-2 {
    max-width: var(--max-width);
    border: solid red;
}

#section2-txt {
    border: solid green;
    max-width: var(--max-width);
    padding: 0 1% 0 1%;
}

#section2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 50px;
    margin: 20px;
    border: solid red;
    margin: auto;
}

.section2-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--font-color-tittle);
    max-width: 250px;
    border: solid yellow;
}

.section2-align-elements {
    flex-direction: column;
    background-color: white;
    margin: 100px 0 100px 0;
    padding: 20px 0 50px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid red;
}

.section2-img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.section2-main-container p {
    font-size: var(--font-size-p);
}


/*========================================================================================== 
=================================Section 3=============================================
========================================================================================== */

.seperation-background-3 {
    width: auto;
    background-color: var(--clr-background-button);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    text-shadow: 0px 0px 1px black;
    height: 500px;
    padding: 0 1% 0 1%;
    border: solid black;
}

.seperation-background-3 {
    background-image: url("https://images.pexels.com/photos/3862632/pexels-photo-3862632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seperation-txt-box-3 {
    width: 800px;
    padding: 80px 100px 80px 100px;
}

.seperation-txt-box-3 h1 {
    font-size: 9em;
}

#section3 {
    height: 100%;
    width: 100%;
    margin: 100px 0 100px 0;
    /*
    padding: 0 500px 0 500px;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid red;
}

#section3-tittle {
    max-width: var(--max-width);
    width: 100%;
    border: solid red;
}

#section3-tittle-placement {
    display: flex;
    flex-direction: row;
}

.section3 {
    text-align: center;
    width: 50%;
    height: 100%;
    border: solid green;
}

#section3-img {
    max-width: var(--max-width);
    height: 300px;
    display: flex;
}

.section3-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.section3-img img {
    max-width: 100%;
    max-height: 100%;
}

#section3-txt {
    margin-top: 20px;
    margin-bottom: 200px;
    height: 200px;
    max-width: var(--max-width);
    padding: 0 1% 0 1%;
}

#section3-txt p {
    font-size: var(--font-size-p);
}

.button-section3 {
    font-size: 1rem;
    text-decoration: none;
    border: solid #2f455d;
    padding: 15px 10px 15px 10px;
    border-radius: 2.5px;
    background-color: #2f455d;
    color: white;
    transition: 0.3s;
}


/*========================================================================================== 
=================================Footer=============================================
========================================================================================== */

footer {
    width: 100%;
    height: 7.5%;
    background-color: #2f455d;
    color: white;
    display: flex;
    flex-direction: row;
}

#sources {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sources a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: var(--font-size-p);
}

#sources a:hover {
    color: #ff6584;
}