:root {
    /* Variabler */
    --clr-primary: #ff503f;
    --clr-secondary: #0e1e31;
    --clr-primary-hover: #932432;
    --clr-background-nav: #e7e7e7;
    --clr-background-seperation: lightblue;
    --border-radius: 0.2rem;
    --border-color: black;
    --seperating-background-clr: #feead2;
    /*  ----------------------- Font ---------------------*/
    --font-size-p: 1rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --line-height: 1.7em;
    --font-color-main: black;
    --font-color-secondary: #8f3a60;
    --font-hover: pink;
    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 3px 0px 6px rgba(0, 0, 0, 0.23);
}


/*How to use var color: 
background: var(--clr-primary);
*/

html,
body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
    float: none;
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--clr-primary);
}

h2 {
    font-size: var(--font-size-h1);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.75rem;
    padding-top: 2%;
}


/*  =================Container for max width================
Easier to overwrite than body. Needs overflow-x: hidden; in html,body */

.center-container {
    max-width: 1440px;
    text-align: left;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}


/* =================================================================================================
---------------------------------------------- Nav bar ---------------------------------------------
==================================================================================================*/

.center-container:first-of-type {
    flex-direction: row;
    display: flex;
    justify-content: right;
}

#navbar-height {
    height: 7em;
}

#nav-logo {
    width: 20%;
    margin-left: 2.5%;
}

#nav-logo img {
    max-width: 100%;
    max-height: 100%;
}

#nav-options {
    width: 77.5%;
}

#nav-options li {
    text-align: right;
    list-style-type: none;
}

#nav-options a {
    text-decoration: none;
    color: var(--font-main-color);
    margin: 0 1em 0 1em;
    font-size: var(--font-size-h2);
}

#nav-options a:hover {
    color: var(--font-hover);
}

#nav-spacing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* =================================================================================================
---------------------------------------------- Hero ---------------------------------------------
==================================================================================================*/

#hero-txt-box {
    width: 30%;
    height: 50%;
    /* move text bar - red box */
    margin-right: 5%;
    margin-top: 20rem;
    margin-bottom: 20rem;
}

#hero-txt-box h1 {
    font-size: var(--font-size-h1);
    color: var(--clr-primary);
}

#hero-txt-align {
    display: flex;
    flex-direction: column;
}

#hero-placement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-placement {
    width: auto;
    display: flex;
    height: auto;
    text-align: center;
    margin: 5% 0 0 0;
}

.button-container {
    margin: 5% 5% 5% 0;
}

#hero-img {
    width: 45%;
    height: 50%;
    object-fit: contain;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#hero-img img {
    max-width: 100%;
    max-height: 100%;
}

.button-container a {
    text-decoration: none;
    color: var(--font-color-main);
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    border: solid var(--border-color);
    border-radius: var(--border-radius);
}

#button-right a {
    /* Change background color for button*/
    background: black;
    color: white;
}


/* =================================================================================================
---------------------------------------------- Seperating bar ---------------------------------------------
==================================================================================================*/

.seperation-bar {
    width: 100%;
    background: var(--seperating-background-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15em;
    box-shadow: var(--box-shadow);
    margin: 5em 0 5em 0;
}

.seperation-bar-text {
    max-width: 700px;
    color: black;
    margin: 2.5em 0 2.5em 0;
    text-align: center;
}

.seperation-bar-text h1 {
    color: black;
}


/* =================================================================================================
---------------------------------------------- Box container ---------------------------------------------
==================================================================================================*/

.box-container {
    width: 100%;
    margin: 0.5em 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 2em;
}

.box-spacing {
    margin: 3em 2em 3em 2em;
    display: flex;
    justify-content: space-evenly;
}

.box-img {
    width: 30%;
    /* Change height to change box width*/
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.box-img img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.box-txt {
    width: 65%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-spacing-health {
    display: flex;
    flex-direction: column;
    margin: 7.5em 5em 7.5em 5em;
}

.box-txt-mental-health {
    width: 100%;
}

.box-img-health {
    width: 100%;
    display: flex;
    margin: 2.5em 0;
}

.box-img-placement {
    display: flex;
    justify-content: space-evenly;
}

.child-box-img-health {
    width: 50%;
    height: 20em;
}

.child-box-img-health-img {
    height: 68%;
    margin: 1% 1% 0 1%;
}

.child-box-img-health-img img {
    max-width: 100%;
    max-height: 100%;
}

.child-box-img-health-txt {
    height: auto;
    margin: 1% 3% 1% 3%;
}


/* =================================================================================================
---------------------------------------------- Horizon ---------------------------------------------
==================================================================================================*/

#the-tech-container {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    margin: 2.5em 0;
}

#the-tech-img {
    margin: 5em 0 2.5em 0;
    display: flex;
    justify-content: center;
}

#the-tech-img img {
    max-width: 100%;
    max-height: 30em;
}

#the-tech-txt {
    margin: 0 5em 5em 5em;
}


/* =================================================================================================
---------------------------------------------- Footer ---------------------------------------------
==================================================================================================*/

footer {
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kilder-dokumentasjon {
    text-align: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .box-img-health {
        flex-direction: column;
    }
    #hero-img {
        width: 45%;
        min-width: 400px;
        margin-right: 2rem;
        align-content: center;
        object-fit: cover;
    }
    #hero-txt-box {
        width: 49%;
        margin-left: 2rem;
    }
    #nav-options a {
        font-size: var(--font-size-h4);
    }
    .box-container {
        margin: 2em;
        padding: 1em;
    }
}

@media only screen and (max-width: 800px) {
    #hero-txt-box {
        width: 100%;
        /* move text bar - red box */
        margin: 20rem 0 20rem 0rem;
        text-align: center;
    }
    .hero-container {}
    .box-img {
        width: auto;
        margin: auto;
    }
    .box-txt {
        width: 100%;
        margin: 1em 0;
    }
    .box-img-health {
        flex-direction: column;
    }
    .box-img-placement {
        flex-direction: column;
    }
    .box-spacing {
        flex-direction: column;
    }
    .child-box-img-health {
        width: 100%;
        height: 20em;
    }
    #hero-placement {
        flex-direction: column;
    }
    #hero-txt-box {
        width: 80%;
        margin-right: 0;
        margin-bottom: 2rem;
        margin-top: 10rem;
    }
    .button-placement {
        margin: 0;
    }
    #hero-img {
        margin-bottom: 10rem;
    }
    .box-container {
        text-align: center;
        margin: 2em;
    }
    .box-spacing {
        margin: 1em;
    }
    .box-spacing-health {
        margin: 1em;
    }
    #the-tech-txt {
        margin: 0 1em 5em 1em;
    }
    .button-placement {
        justify-content: center;
    }
    #hero-img {
        width: 90%;
        margin-left: 2rem;
    }
    #hero-placement {
        flex: wrap;
    }
    #nav-options {
        min-width: 165px;
        max-width: 165px;
    }
    #nav-logo {
        width: 40%;
    }
    #navbar-height {
        height: 15em;
    }
    #nav-spacing {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .seperation-bar-text {
        margin: 2.5em 2.5em 2.5em 2.5em;
    }
}