:root {
    --clr-primary: #bb5a5a;
    --clr-secondary: #e79e85;
    --clr-primary-hover: #ff6584;
    --clr-body: white;
    --clr-background-nav: white;
    --clr-background-button: #2f455d;
    --border-radius: 0.5rem;
    /*================================================Font======================================= */
    --font-size-p: 1.25rem;
    --font-size-h1: 2.5rem;
    --font-size-h1-small: 2rem;
    --font-size-h2: 2rem;
    --font-word-spacing: ;
    --font-line-height: 1.5;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-color: #2f455d;
    --font-color-tittle: #ff6584;
}


/* ============================================================================================*/


/*How to use var color: 
background: var(--clr-primary);*/


/* ============================================================================================*/

body {
    font-family: "Lexend Deca", sans-serif;
    line-height: var(--font-line-height);
    background-color: var(--clr-body);
    color: var(--font-color);
    max-width: 1200px;
    margin: 0 auto;
    float: none;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-p);
}


/*========================================================================================== 
=================================NAVIGATION BAR=============================================
========================================================================================== */

nav {
    display: flex;
    align-items: center;
    background-color: var(--clr-background-nav);
}

#nav-img {
    width: 20%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
}

#nav-img img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#nav-options {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-options li {
    width: 100%;
    list-style-type: none;
    text-align: right;
    margin-right: 2.5%;
}

#nav-options a {
    text-decoration: none;
    font-size: var(--font-size-h1);
    padding: 0 2.5% 0 2.5%;
    color: #2f455d;
    transition: 0.3s;
}

#nav-options a:hover {
    color: #ff6584;
}


/*========================================================================================== 
=================================Hero=============================================
========================================================================================== */

#hero {
    margin-top: 1em;
    height: 90vh;
    width: 100%;
    background-image: url(img/hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 60%;
    background-position-y: 3%;
    background-color: var(--clr-background-nav);
    display: flex;
    flex-direction: column;
}

#hero-txt a {
    color: var(--clr-primary-hover);
}

#hero-placement {
    width: 600px;
    position: relative;
    left: 15;
    top: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero-txt {
    width: 30em;
    height: 100%;
}

#hero-txt h1 {
    font-size: 2.5rem;
}

#hero-buttons {
    width: 30em;
    height: 90px;
    display: flex;
    justify-content: left;
}

.hero-button {
    width: 116px;
    height: 50px;
    display: flex;
    border-radius: 2.5px;
}

.hero-button:last-child {
    margin: 0 0 0 40px;
}

.hero-button a {
    font-size: 1rem;
    text-decoration: none;
    border: solid #2f455d;
    padding: 15px 10px 15px 10px;
    color: #2f455d;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5px;
}

.hero-button:last-of-type {
    background-color: var(--clr-background-button);
}

.hero-button a:hover {
    opacity: 70%;
}


/*========================================================================================== 
=================================Seperation=============================================
========================================================================================== */

.seperation-background {
    width: auto;
    background-color: var(--clr-background-button);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    padding: 0 1% 0 1%;
}

.seperation-txt-box h1 {
    font-size: var(--font-size-h1);
}

.seperation-txt-box p {
    font-size: var(--font-size-p);
}

.seperation-txt-box a {
    text-decoration: none;
    color: white;
}

.seperation-txt-box a:hover {
    color: var(--clr-primary-hover);
}


/*========================================================================================== 
=================================Section 1=============================================
========================================================================================== */

.section1-section {
    display: inline;
    flex-direction: column;
}

#section1-heading {
    margin: 50px 0 25px 0;
    justify-content: center;
    padding: 0 1% 0 1%;
}

#section1-heading h1 {
    color: var(--font-color-tittle);
    text-align: center;
}

#definition-vision-impaired {
    display: flex;
}

#definition-vision-impaired-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1% 0 1%;
}

#definition-vision-impaired-txt a {
    text-decoration: none;
    color: var(--font-color);
}

#definition-vision-impaired-txt a:hover {
    color: #ff6584;
}

#definition-vision-impaired-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#definition-vision-impaired-img img {
    width: auto;
    height: 350px;
}

#definition-vision-impaired-2 {
    margin: 20px 1% 50px 1%;
}


/*========================================================================================== 
=================================Section 2=============================================
========================================================================================== */

#section2-container {
    padding: 50px 1% 5% 1%;
    height: 100%;
}

#section2-container a {
    text-decoration: none;
    color: var(--font-color);
}

#section2-container a:hover {
    color: var(--font-color-tittle);
}

#section2-txt p {
    font-size: var(--font-size-p);
    margin: 0px 1% 0px 1%;
}

#section2-txt h1 {
    color: var(--font-color-tittle);
    margin: 0px 20px 0px 20px;
}

.section2-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--font-color-tittle);
    width: 250px;
    padding: 20px;
}

.section2-align-elements {
    flex-direction: column;
}

.section2-img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.section2-main-container p {
    font-size: var(--font-size-p);
}


/*========================================================================================== 
=================================Section 3=============================================
========================================================================================== */

#section3 {
    height: 100%;
    width: auto;
    margin: 0 1% 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section3-tittle {
    width: 100%;
    height: 7.5%;
}

#section3-tittle-placement {
    display: flex;
    flex-direction: row;
}

.section3 {
    text-align: center;
    width: 50%;
    height: 100%;
}

#section3-img {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.section3-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.section3-img img {
    max-width: 100%;
    max-height: 100%;
}

#section3-txt {
    margin-top: 2%;
    margin-bottom: 5%;
    height: 30%;
    width: 100%;
}

#section3-txt p {
    font-size: var(--font-size-p);
}

.button-section3 {
    font-size: 1rem;
    text-decoration: none;
    border: solid #2f455d;
    padding: 15px 10px 15px 10px;
    border-radius: 2.5px;
    background-color: #2f455d;
    color: white;
    transition: 0.3s;
}


/*========================================================================================== 
=================================Footer=============================================
========================================================================================== */

footer {
    width: 100%;
    height: 7.5%;
    background-color: #2f455d;
    color: white;
    display: flex;
    flex-direction: row;
}

#sources {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sources a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: var(--font-size-p);
}

#sources a:hover {
    color: #ff6584;
}