:root {
    /* Variabler */
    --clr-primary: #02304a;
    --clr-secondary: #0e1e31;
    --clr-primary-hover: #8f3a60;
    --clr-background-nav: #e7e7e7;
    --clr-background-navtop: #305e77;
    --clr-background-seperation: #02304a;
    --clr-background-button: #02304a;
    --clr-logo: #c8aa8a;
    --border-radius: 0.2rem;
    --border-color: black;
    --seperating-text-clr: white;
    --seperating-background-clr: #feead2;
    --clr-body: white;
    --clr-background-nav: antiquewhite;
    --clr-background-button: #2f455d;
    --clr-light-grey: #d3d3d3;
    --font-size-p: 1rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --line-height: 1.7em;
    /* Margin 1200*/
    --margin-value-1200: 5rem;
    --margin-contact-1200: 5rem;
    /* Margin 800*/
    --margin-value-800: 1rem;
    --margin-contact-800: 1rem;
}

/*How to use var color: 
background: var(--clr-primary);
*/

html,
body {
    font-family: "Lexend Deca", sans-serif;
    background-color: white;
    margin: 0 auto;
    float: none;
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: (--font-size-h3);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.75rem;
    padding-top: 2%;
}

/* Center Container to hold all later content*/

.center-container {
    max-width: 1440px;
    text-align: left;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

/* ===================== Section A ======================== */

.section-a {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.container-heading {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.heading-img {
    margin: 4rem 2rem 2rem 2rem;
}

.heading-img img {
    max-width: 40%;
    border-radius: var(--border-radius);
}

.container-heading .staff-text {
    margin: 4rem 2rem 2rem 2rem;
}

.staff-text h1 {
    color: var(--clr-primary);
}

.staff-text p {
    margin: 2rem 12rem 2rem 12rem;
}

/* ==================== Section A END ========================== */

/* ==================== Section Values Start ==================== */

.section-values {
    display: flex;
    margin: 4rem;
    box-shadow: 0 14px 28px var(--clr-light-grey);
    border-radius: var(--border-radius);
}

.value-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    flex-wrap: wrap;
}

.number {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid var(--clr-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    margin: 2rem;
}

.value-text {
    padding: 0rem 2rem 2rem 2rem;
    text-align: center;
}

/* =================== Section Values END */

/* ==================== Section B ==================== */

.section-b {
    margin: 2rem 0rem 2rem 0rem;
}

.container-staff {
    color: black;
}

.profile-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    flex-wrap: wrap;
}

.profile {
    margin: 0.5rem;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px var(--clr-light-grey);
    border-radius: var(--border-radius);
}

.profile .profile-img {
    max-width: 250px;
    border-radius: var(--border-radius);
}

.staff-name {
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}

.profile h5 {
    margin-top: 10px;
    text-align: center;
}

.profile p {
    margin-top: 20px;
    text-align: center;
}

/* ===================== Section D ===================== */

.container-contact {
    margin: 2rem 4rem 8rem 4rem;
    padding: 2rem;
    box-shadow: 0 14px 28px var(--clr-light-grey);
    border-radius: var(--border-radius);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-button {
    margin: 1rem;
    width: 150px;
    padding: 10px 2px 10px 2px;
    border: solid var(--clr-background-button);
    border-radius: var(--border-radius);
    color: black;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
}

.button-one {
    background-color: var(--clr-background-button);
}

.tech-button a {
    text-decoration: none;
    padding: 10px 2px 10px 2px;
    background-color: var(--clr-background-);
    color: var(--clr-background-button);
}

/* ================= Section D END ================ */

/* ======================= Section B END ========================== */

@media only screen and (max-width: 1200px) {
    .box-img-health {
        flex-direction: column;
    }
    #hero-img {
        width: 45%;
        min-width: 400px;
        margin-right: 2rem;
        align-content: center;
        object-fit: cover;
    }
    #hero-txt-box {
        width: 49%;
        margin-left: 2rem;
    }
    #nav-options a {
        font-size: var(--font-size-h4);
    }
    .box-container {
        margin: 10px;
        padding: 20px;
    }
    .section-values {
        margin: var(--margin-value-1200);
    }
    .container-contact {
        margin: var(--margin-contact-1200);
    }
}

@media only screen and (max-width: 1440px) {
    .section-a img {
        width: auto;
    }
    .profile {
        max-width: 300px;
        padding: 2rem;
        margin: 1rem;
    }
    .staff-text {
        width: auto;
    }
}

@media only screen and (max-width: 800px) {
    .staff-text {
        margin: 0.5rem;
        align-self: center;
        text-align: center;
        padding: 0rem;
    }
    .container-heading {
        margin: 0rem;
        padding: 0rem;
    }
    .section-a {
        margin: 0rem;
        padding: 0rem;
    }
    .section-values {
        margin: var(--margin-value-800);
    }
    .container-contact {
        margin: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .section-values {
        flex-direction: column;
    }
    .staff-text p {
        margin: 1em;
    }
}
