:root {
    /* Variabler */
    --clr-primary: #ff6584;
    --clr-secondary: #0e1e31;
    --clr-primary-hover: #932432;
    --clr-background-nav: #e7e7e7;
    --clr-background-seperation: lightblue;
    --border-radius: 0.5rem;
    --border-color: black;
    --seperating-background-clr: black;
    /*  ----------------------- Font ---------------------*/
    --font-size-p: 1rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --line-height: 1.7em;
    --font-color-main: black;
    --font-color-secondary: purple;
    --font-hover: pink;
}


/*How to use var color: 
background: var(--clr-primary);
*/

html,
body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
    float: none;
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.75rem;
    padding-top: 2%;
}


/*  =================Container for max width================
Easier to overwrite than body. Needs overflow-x: hidden; in html,body */

.center-container {
    max-width: 1440px;
    text-align: left;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}


/* =================================================================================================
---------------------------------------------- Nav bar ---------------------------------------------
==================================================================================================*/

.center-container:first-of-type {
    flex-direction: row;
    display: flex;
    justify-content: right;
}

#navbar-height {
    height: 7em;
}

#nav-logo {
    width: 20%;
}

#nav-options {
    width: 80%;
}

#nav-options li {
    text-align: right;
    list-style-type: none;
}

#nav-options a {
    text-decoration: none;
    color: var(--font-main-color);
    margin: 0 1em 0 1em;
    font-size: var(--font-size-h2);
}

#nav-options a:hover {
    color: var(--font-hover);
}


/* =================================================================================================
---------------------------------------------- Hero ---------------------------------------------
==================================================================================================*/

#hero-txt-box {
    width: 30%;
    /* move text bar - red box */
    margin: 20rem 0 20rem 7.5rem;
}

#hero-txt-box h1 {
    font-size: var(--font-size-h1);
}

#hero-txt-align {
    display: flex;
    flex-direction: column;
}

.button-placement {
    width: auto;
    display: flex;
    height: auto;
    text-align: center;
    margin: 5% 0 0 0;
}

.button-container {
    margin: 5% 5% 5% 0;
}

.button-container a {
    text-decoration: none;
    color: var(--font-color-main);
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    border: solid var(--border-color);
    border-radius: var(--border-radius);
}

#button-right a {
    /* Change background color for button*/
    background: black;
    color: white;
}


/* =================================================================================================
---------------------------------------------- Seperating bar ---------------------------------------------
==================================================================================================*/

.seperation-bar {
    width: 100%;
    background: var(--seperating-background-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15em;
}

.seperation-bar-text {
    color: white;
    margin: 1.25em 0 2.5em 0;
    text-align: center;
}


/* =================================================================================================
---------------------------------------------- Box container ---------------------------------------------
==================================================================================================*/

.box-container {
    width: 100%;
    margin: 3em 0;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box-spacing {
    margin: 5em 5em 5em 5em;
    display: flex;
    justify-content: space-evenly;
}

.box-img {
    width: 30%;
    /* Change height to change box width*/
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img img {
    max-height: 100%;
    max-width: 100%;
}

.box-txt {
    width: 65%;
    margin: 0 1em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-spacing-health {
    display: flex;
    flex-direction: column;
    margin: 7.5em 5em 7.5em 5em;
}

.box-txt-mental-health {
    width: 100%;
}

.box-img-health {
    width: 100%;
    display: flex;
    margin: 2.5em 0;
}

.child-box-img-health {
    width: 25%;
    height: 20em;
}

.child-box-img-health-img {
    height: 68%;
    margin: 1% 1% 0 1%;
}

.child-box-img-health-img img {
    max-width: 100%;
    max-height: 100%;
}

.child-box-img-health-txt {
    height: auto;
    margin: 1% 3% 1% 3%;
}


/* =================================================================================================
---------------------------------------------- Horizon ---------------------------------------------
==================================================================================================*/

#the-tech-container {
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    margin: 2.5em 0;
}

#the-tech-img {
    margin: 5em 0 2.5em 0;
    display: flex;
    justify-content: center;
}

#the-tech-img img {
    max-width: 100%;
    max-height: 30em;
}

#the-tech-txt {
    margin: 0 5em 5em 5em;
}

@media only screen and (max-width: 800px) {
    .box-spacing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-img {
        width: 100%;
    }
    .box-txt {
        width: 100%;
        margin: 1em 5em;
    }
    .box-img-health {
        flex-direction: column;
    }
    .child-box-img-health {
        width: 100%;
        height: 20em;
    }
}