:root {
    /* Setting color variables */
    --clr-primary: #02304a;
    --clr-secondary: #0e1e31;
    --clr-primary-hover: #8f3a60;

    /* Original variables */
    --clr-background: #ffffff;
    --clr-darkblue: #2f455d;
    --clr-pink: #02304a;
    --clr-lightgray: #d1d1d1;
    --border-radius: 0.2rem;
    --font-size-p: 1rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --line-height: 1.7em;
    --clr-background-navtop: #305e77;
    --clr-background-seperation: #02304a;
    --border-radius: 0.2rem;
    --clr-background-button: #02304a;
    /* Margin 1200*/
    --margin-map-1200: 2rem 5rem 0 5rem;
    /* Margin 800*/
    --margin-map-800: 2rem 1rem 0 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background: white;
    margin: 0 auto;
    float: none;
}

main {
    padding: 20px;
    background-color: var(--clr-shadow);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: (--font-size-h3);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.75rem;
    padding-top: 2%;
}

.align-center {
    display: flex;
    justify-content: center;
}

.align-center-2 {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*++++++++++++ Wrapper and container ++++++++++++*/

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    padding: 30px;
    background-color: var(--clr-shadow);
}

.container {
    border-radius: var(--border-radius);
    border: solid var(--clr-lightgray);
    width: 200px;
    margin: 30px;
    padding: 30px;
    height: 5rem;
    text-align: center;
    color: var(--clr-darkblue);
}

/*------------ Wrapper and container ------------*/

.container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.container-description h1 {
    color: var(--clr-primary);
    margin-bottom: 1em;
}

.container-description h2 {
    color: var(--clr-pink);
    margin-bottom: 20px;
}

.container-contact {
    width: auto;
}

.container-contact img {
    max-width: 600px;
}

.btn-primary {
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 200ms ease-in;
    padding: 13px 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--clr-pink);
    background-color: white;
    border: solid var(--clr-background-button);
    border-radius: var(--border-radius);
    font-weight: bold;
}

.btn-primary:hover {
    background: var(--clr-pink);
}

.section-a p {
    line-height: 2;
    margin: 2rem 5rem 2rem 5rem;
}

.section-a {
    color: black;
    text-align: center;
    top: 0;
    left: 0;
    background-color: var(--clr-background);
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    justify-content: center;
}

.map-container {
    box-shadow: 0 0 2rem var(--clr-lightgray);
    margin: 2rem;
    justify-content: space-evenly;
    flex-direction: row;
    display: inline-flex;
    padding: 1.5rem;
    border-radius: var(--border-radius);
}

.banner-img {
    width: auto;
    height: 100%;
    margin: 3rem 0 3rem 1rem;
    justify-content: center;
    align-items: center;
}

.banner-img img {
    width: 95%;
    height: auto;
    box-shadow: 0 0 2rem var(--clr-lightgray);
}

.map-description {
    width: 30%;
    height: auto;
    text-align: center;
    margin: auto;
}

.section-b {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 5rem;
}

#kilder-dokumentasjon {
    text-align: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1440px) {
    .container-contact img {
        width: auto;
        padding: 2rem;
        margin: 1rem;
        align-self: center;
    }
    .container-description {
        width: auto;
    }
}

@media only screen and (max-width: 1200px) {
    #nav-options a {
        font-size: var(--font-size-h4);
    }
    .container-description h1 {
        color: var(--clr-darkblue);
        margin-bottom: 1em;
        font-size: var(--font-size-h1);
    }
    .map-container {
        margin: var(--margin-map-1200);
    }
}

@media only screen and (max-width: 800px) {
    .container-description {
        align-self: center;
        text-align: center;
    }
    .section-a p {
        line-height: 2;
        margin: 1rem 2rem 1rem 2rem;
    }
    .map-container {
        max-width: auto;
        margin: var(--margin-map-800);
        align-self: center;
        text-align: center;
    }
    .container-contact img {
        min-width: 100px;
        align-self: center;
        text-align: center;
        padding: 0.3rem;
        margin: 0.1rem;
    }
    .map-container {
        flex-direction: column;
    }
    .map-description {
        width: 100%;
    }
}
