:root {
    /* Variabler */
    --clr-primary: #ff6584;
    --clr-secondary: #0e1e31;
    --clr-primary-hover: #932432;
    --clr-background-nav: #e7e7e7;
    --clr-background-seperation: lightblue;
    --clr-light-grey: #cdcdcd;
    --border-radius: 0.5rem;
    --font-size-p: 1rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --line-height: 1.7em;
}


/*How to use var color: 
background: var(--clr-primary);
*/

html,
body {
    font-family: "Lexend Deca", sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 0 auto;
    float: none;
    width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: (--font-size-h3);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.75rem;
    padding-top: 2%;
}

.center-container {
    max-width: 1440px;
    text-align: left;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#nav-spacing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* =================================================================================================
---------------------------------------------- Nav bar ---------------------------------------------
==================================================================================================*/

.center-container-nav {
    max-width: 1440px;
    text-align: left;
    margin: 0px auto;
    align-items: center;
    width: auto;
    flex-direction: row;
    display: flex;
    justify-content: right;
}

#navbar-height {
    height: 7em;
}

#nav-logo {
    width: 20%;
    margin-left: 2.5%;
}

#nav-logo img {
    max-width: 100%;
    max-height: 100%;
}

#nav-options {
    width: 77.5%;
}

#nav-options li {
    text-align: right;
    list-style-type: none;
}

#nav-options a {
    text-decoration: none;
    color: var(--font-main-color);
    margin: 0 1em 0 1em;
    font-size: var(--font-size-h2);
}

#nav-options a:hover {
    color: var(--font-hover);
}

#nav-spacing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


/* ===================== Section A ======================== */

.section-a {
    height: 700px;
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.container-heading {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.heading-img {
    margin: 4rem 2rem 2rem 2rem;
}

.heading-img img {
    max-width: 60%;
}

.container-heading .staff-text {
    margin: 8rem 2rem 2rem 2rem;
}

.staff-text h2 {
    color: var(--clr-primary);
}


/* ==================== Section A END ========================== */


/* ==================== Section B ==================== */

.section-b {
    margin: 2rem 0rem 2rem 0rem;
}

.container-staff {
    color: black;
}

.profile-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    flex-wrap: wrap;
}

.profile {
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px var(--clr-light-grey);
    border-radius: 0.8em;
}

.profile .profile-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.staff-name {
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}

.profile h5 {
    margin-top: 10px;
    text-align: center;
}

.profile p {
    margin-top: 20px;
    text-align: center;
}


/* ===================== Section D ===================== */

.container-contact {
    margin: 2rem 2rem 8rem 2rem;
    padding: 2rem;
    box-shadow: 0 14px 28px var(--clr-light-grey);
    border-radius: 0.8em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    /* margin: 0 0.2em 0.2em 0; */
    margin: 2rem;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: var(--clr-primary);
    text-align: center;
    transition: all 0.15s;
}

.button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: black;
    border-color: #ffffff;
}


/* ================= Section D END ================ */


/* ======================= Section B END ========================== */

@media only screen and (max-width: 1200px) {
    .section-a img {
        width: auto;
    }
    .profile {
        max-width: 300px;
        padding: 2rem;
        margin: 1rem;
    }
    .staff-text {
        width: auto;
    }
    #nav-options a {
        font-size: var(--font-size-h4);
    }
}

@media only screen and (max-width: 800px) {
    .staff-text {
        max-width: 400px;
        margin: 2rem 2rem 2rem 2rem;
        align-self: center;
        text-align: center;
    }
    #nav-options {
        width: 30%;
    }
    #nav-logo {
        margin-right: 10%;
        width: 60%;
    }
    #navbar-height {
        height: 15em;
    }
}